* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-family: "Source Serif 4";
  font-size: 62.5%;
}

body {
  background: #121214;

  font-family: "Mulish", sans-serif;

  display: grid;
  justify-content: center;

  padding: 7.2rem 10.4rem;
}

header h1 {
  font-weight: 900;
  font-size: 5.8rem;
  line-height: 7.3rem;
  color: #02799d;
}

header p {
  color: #e1e1e6;
  font-size: 3.2rem;
  font-weight: 600;

  margin-top: 0.8rem;
}
main {
  margin-top: 6.2rem;

  display: grid;
  grid-template-columns: repeat(3, 37rem);

  place-content: center;

  /* row-gap: 4.4rem;
  column-gap: 6.0rem; */
  gap: 4.4rem 6rem;
}

.card {
  background: #202024;
  border: 0.2rem solid #323238;
  border-radius: 0.8rem;

  /* ajustando a imagem dentro do card pra nao ultrapassar as bordas */
  overflow: hidden;
}
.card h2 {
  color: #e1e1e6;
  font-size: 3.6rem;
  font-weight: 900;

  padding: 2.4rem 3.2rem 0;
}
.card p {
  color: #c4c4cc;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2.4rem 3.2rem 3.2rem;
}
